p, div {
  font-family: Lato;
}

/* 
  Colors:
  https://coolors.co/22223b-4a4e69-eadae4-9a8c98-c9ada7 
*/
/*
YANKEES BLUE: #22223B
INDEPENDENCE: #4A4E69
PLATINUM: #EADAE4
SPANISH GRAY: #9A8C98
SILVER PINK: #C9ADA7
*/



/* .form-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  max-width: 80%;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 40px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px lightblue;
  background-color: #fefefe;
} */

/* .form-wrapper > h2 {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0.25em;
  color: #222;
} */

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.info {
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

label {
  margin-bottom: 0.5em;
  color: #444;
  font-weight: lighter;
  padding-left: 0.70em;
}
.fName{
  padding-top: 3em;

}
#checkout{
  min-width: 20%;
  cursor: pointer;
  margin-left: 0.90em;
  margin-top: 0.5em;
  padding: 	0.938em;
  border: none;
  border-radius: 4px;
  background-color: #0269e8;
  color: #fefefe;
  margin-bottom: 2em;
}
#checkout:hover {
  background-color:black;
  color: #fefefe;
}



input {
  width: 500px;
  padding: 10px ;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d6d1d5;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #bbb;
}
#back {
  width: 150px;
  height:40px;
  cursor: pointer;
  margin-right: 720px;
  margin-top: -62px;
  margin-bottom: 30px;
  padding: 	0.938em;
  border: none;
  border-radius: 4px;
  background-color:#0269e8;
  color: #fefefe;
}
#back:hover {
  background-color:black;
  color: #fefefe;
}
#checkout {
  width: 150px;
  cursor: pointer;
  margin-left: 700px;
  margin-top: 0.5em;
  padding: 	0.938em;
  border: none;
  border-radius: 4px;
  background-color:#0269e8;
  color: #fefefe;
}
#checkout:hover {
  background-color:black;
  color: #fefefe;
}

input.error {
  border: 1px solid #EADAE4;
}

.error {
  color:#db2269;
  font-size: 0.625em;
  display: relative;
}

.fName {
  margin-right: 1%;
  margin-top: 2em;
}

.fName,
.email,
.lName,
.pay,
.phone {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: center;
}
/* .fName,
.email,
.lName,
.pay,
.phone {
  width: 100%;
} */

/* .email,
.password {
  width: 100%;
} */
.checkoutForm{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: center;
}

.submit {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: right;
}